

.textarea{
    margin:1rem 0;
    display: flex;
    flex-direction: column;
}




.sendButton{
    margin-top: 1rem;
    background: rgba(80,181,255,.2);
    color:#50b5ff;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid #50b5ff;
    cursor: pointer;
}

.sendButton:hover{
    background-color: #50b5ff;
    color:white;
}


.sendButtonDisabled{
    margin-top: 1rem;
    background: rgba(80,181,255,.7);
    color:#50b5ff;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid #50b5ff;
}

.postsContainer{
    margin-top: 2rem;
}

.postItem{
    margin-bottom: 1.5rem;
}

.item{
    color: #50b5ff;
}

.itemLike{
    display: flex;
    align-items: center;


}

.imgLike{
    color: #50b5ff;
    cursor:pointer;
    margin-right: 1rem;
}
