

.textarea{
    margin:1rem 0;
    display: flex;
    flex-direction: column;
}





.postsContainer{
    margin-top: 2rem;
}

.postItem{
    margin-bottom: 1.5rem;
}

.item{
    color: #50b5ff;
}

.itemLike{
    display: flex;
    align-items: center;


}

.imgLike{
    color: #50b5ff;
    cursor:pointer;
    margin-right: 1rem;
}
