.main{
    grid-area: main;
    /*!*background-color: #1e2745;*!*/
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 2fr 74px auto;*/
    /*grid-template-areas: "imgContainer"*/
    /*"menuTabs"*/
    /*"mainContainer";*/
    justify-items: center;
}


.mainUsersContainer{

    width: 80%;
    background-color: #1e2745;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 20px;
}

.sideBar{
    grid-area: side;
    background-color: #1e2745;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}

.usersContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.usersItem{
    min-width: 200px;
    height: 300px;
    border: 1px solid #50b5ff;
    border-radius:0.5rem;
    word-wrap: break-word;
    position: relative;

}

.usersBac {
    width: 100%;
    height: 40%;


}

.usersBac img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

}

.usersCard{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 2rem;


}

.usersInfo{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
}

.usersName{
    color: #50b5ff;
    font-weight: bold;
}


.usersCity{
    color:white;
    font-weight: bold;
}



.pagesContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 2rem;
}

/* span {*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border-radius: 50%;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    border: 1px solid #50b5ff;*/
/*    background: rgba(80,181,255,.2);*/
/*    margin-left: 0.5rem;*/
/*    color:#50b5ff;*/
/*    cursor:pointer;*/
/*}*/


/* .selected{*/
/*     background-color: #50b5ff;*/
/*     color: white;*/
/*}*/


