.nav{
    grid-area: nav;
    background-color: #1e2745;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;


}

.nav a{
    text-decoration: none;
    color: #8c91b6;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 1rem;

}

.active{
    color:#50b5ff !important;
    background: rgba(80,181,255,.2);
}





