.footer{
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-color: #1e2745;
}

.footerNavigation a{
  text-decoration: none;
  color: #8c91b6;
  padding: 10px;
}


.footerNavigation a:hover{
  color:#50b5ff;
  transition: color 0.2s ease-in;

}

.footerInfo{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footerInfo a{
  text-decoration: none;
  color:#50b5ff;
  padding: 10px;
}


.footerInfo a:hover{
  color: #449ad9;
  transition: color 0.2s ease-in;

}
