.subContact{
    margin-top: 1rem;
}

.titleBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataForm{
    display: flex;
    flex-direction: column;
}

.subContactItem {
    display: flex;
    padding: 0.3rem 2rem;
    align-items: center;
    justify-content: space-between;
}

.subContactItem div {
    width: 50%;
}