

.titleBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataForm{
    display: flex;
    flex-direction: column;
}

ul li {
    list-style-type: none;
    padding: 0.3rem;
}