
.app-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 10fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
  "header header"
  "nav main "
  "footer footer";
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: #182039;
  color: #8c91b6;
}


.MuiPagination-root ul li button {
  color: #50b5ff;
  background: rgba(80,181,255,.2);
  border: 1px solid #50b5ff;
  margin-left: 0.5rem;
}

.MuiPagination-root ul li div {
  color: #50b5ff;
}

.MuiPagination-root .Mui-selected{
  background-color: #50b5ff !important;
  color: white;
}

.MuiCircularProgress-root{
  color: #50b5ff !important;
}



.MuiMenuItem-root {
  color:#50b5ff !important;
  font-weight: bold !important;
}

.MuiMenuItem-root .active{
  color:#50b5ff !important;
  font-weight: bold;
}

.Mui-focused{
  color:#50b5ff !important;

}

.Mui-checked{
  color:#50b5ff !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color:#50b5ff !important;
}

.MuiFormControl-root label{
  color: #50b5ff;
}



.MuiFormControl-root fieldset {
  border-color: #50b5ff;
  background: rgba(80,181,255,.2);
}

.MuiButtonBase-root {
  color: #50b5ff !important;
}

/*.MuiIconButton-root{*/
/*  background-color: rgba(255,255,255, 0.5) !important;*/
/*}*/


.sendButton{
  margin-top: 1rem;
  background: rgba(80,181,255,.2);
  color:#50b5ff;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: 1px solid #50b5ff;
  cursor: pointer;
}

.sendButton:hover{
  background-color: #50b5ff;
  color:white;
}


.sendButtonDisabled{
  margin-top: 1rem;
  background: rgba(80,181,255,.7);
  color:#50b5ff;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: 1px solid #50b5ff;
}


.followButton{
  margin-top: 5rem;
  background: rgba(80,181,255,.2);
  color:#50b5ff;
  border-radius: 5px;
  min-width: 80px;
  height: 30px;
  border: 1px solid #50b5ff;
  cursor: pointer;

}

.loginButton{
  margin-top: 1rem;
  color:white;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: 1px solid #50b5ff;
  background-color: #50b5ff;
  cursor: pointer;
}








