
.app-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 10fr 0.6fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas: "header header header"
  "nav main side"
  "footer footer footer";
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}




